*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: auto;
  margin-top: 20px;
  text-align: center;
}

h2{
  display: none;
}

.row{
  margin-bottom: 20px;
}

.box{
  display: inline-block;
  position: relative;
}

.box .discount{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.box:nth-child(even) .discount{
  background-color: red;
}

.box .heart{
  display: none;
  position: absolute;
  bottom: 5%;
  width: 100%;
  font-size: 22px;
  text-align: center;
  color: red;
}

.box:hover .heart{
  display: block;
}

.box:hover{
  cursor: pointer;
}
