*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: auto;
  margin-top: 20px;
  text-align: center;
}

h2{
  display: none;
}

.row{
  margin-bottom: 20px;
}

.box{
  display: inline-block;
  position: relative;
}

.box .discount{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}
